*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sena {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 0;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
    color: #d65139;
    letter-spacing: 3px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    
}
.card  i{
        
}